body {
    margin: 0 auto;
}
#top-page {
  background-color: #69AD9C;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  z-index: 10;
}

.profile-pic {
    position: absolute;
    top: 20px;
    right: -50px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    transition: all 8s ease;
    animation: slideIn 8s forwards;
  }
  
  @keyframes slideIn {
    from {
      right: -50px;
    }
    to {
      right: 990px;
    }
  }
  
  .profile-pic img {
    width: 200px;
    height: 200px;
    border-radius: 0%;
    transition: all 8s ease;
    animation: borderRadius 8s forwards;
  }
  
  @keyframes borderRadius {
    from {
      border-radius: 0%;
    }
    to {
      border-radius: 50%;
    }
  }

.welcome-text {
  width: 60%;
  height: 100px;
  color: rgb(234, 244, 244);
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.welcome-text h1 {
    margin-left: 100px;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navigation {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 20px;
}

.navigation a {
  color: rgb(234, 244, 244);
  text-decoration: none;
  margin: 0 20px;
}
.navigation a:hover {
    cursor: pointer;
    color:#10daa7;
}
.header img {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    width:70%;
    margin-top: 100px;
    margin-left: 225px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
}

.gmail-container {
    position: relative;
    width: 28%;
}
.gmail {
    opacity: 1;
    width: auto;
    height: 150px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .gmail-hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .gmail-container:hover .gmail 
  {
    cursor: pointer;
    opacity: 0.3;
  }
  .gmail-container:hover .gmail-hover
  {
    cursor: pointer;
    opacity: 1;
  }
.gmail-text {
    text-decoration: none;
    background-color: #69AD9C;
    color:rgb(234, 244, 244);
    font-size: 18px;
    font-weight: bold;
    padding:8px;
  }  

.github-container {
    position: relative;
    width: 30%;
}
.github {
    opacity: 1;
    display: block;
    width: auto;
    height: 150px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .github-hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .github-container:hover .github 
  {
    cursor: pointer;
    opacity: 0.3;
  }
  .github-container:hover .github-hover
  {
    cursor: pointer;
    opacity: 1;
  }
  .github-text {
    text-decoration: none;
    background-color: #69AD9C;
    color:rgb(234, 244, 244);
    font-size: 18px;
    font-weight: bold;
    padding:8px;
  }

.resume-container {
    position: relative;
    width: 28%;
}
.resume {
    opacity: 1;
    display: block;
    width: auto;
    height: 150px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .resume-hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .resume-container:hover .resume 
  {
    cursor: pointer;
    opacity: 0.3;
  }
  .resume-container:hover .resume-hover
  {
    cursor: pointer;
    opacity: 1;
  }
  .resume-text {
    text-decoration: none;
    background-color: #69AD9C;
    color:rgb(234, 244, 244);
    font-size: 18px;
    font-weight: bold;
    padding:8px;
  }

  #aboutme h1 {
    margin-top: 100px;
    text-align: center;
    align-items: center;
    color: #519D29;
    margin-bottom: 50px;
  }
  #aboutme img {
    width:100px;
    height: 100px;
    opacity: 0.8;
    z-index: -1;
  }
  .about-content1 {
    display: flex;
    margin: auto;
    column-gap: 20px;
    width: 80%;
    height: 100px;
    text-align: justify;
  }
  .about-content2 {
    display: flex;
    margin: auto;
    column-gap: 20px;
    width: 80%;
    height: 100px;
    text-align: justify;
  }
  .about-content3 {
    display: flex;
    margin: auto;
    column-gap: 26px;
    width: 80%;
    height: 100px;
    text-align: justify;
}
.about-content4 {
    display: flex;
    margin: auto;
    column-gap: 20px;
    width: 80%;
    height: 100px;
    text-align: justify;
} 

#skills h1 {
    margin-top: 100px;
    text-align: center;
    align-items: center;
    color: #519D29;
    margin-bottom: 50px;
  }

  .strong-skills {
    display: flex;
    width: 50%;
    height: 150px;
    align-items: center;
    margin-left:100px;
    margin-top: 60px;
    position: relative;
    z-index: -1;
  }
  
  .s-skills-text {
    text-align: center;
    color:#519D29;
  }
  
  .s-skills-img {
    display: flex;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 30%;
    transform: translateX(-30%);
  }
  
  .s-skill-logo {
    width: 150px;
    height: 150px;
  }
  
.learning-skills {
    display: flex;
    width: 50%;
    height: 150px;
    align-items: center;
    margin-right:100px;
    margin-top: 60px;
    position: relative;
    z-index: -1;
   left: 700px;
  }
  
  .l-skills-text {
    text-align: center;
    color:#519D29;
  }
  
  .l-skills-img {
    display: flex;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 35%;
    transform: translateX(-35%);
  }
  
  .l-skill-logo {
    width: 150px;
    height: 150px;
  }
  #skills h1 {
    margin-top: 100px;
    text-align: center;
    align-items: center;
    color: #519D29;
    margin-bottom: 50px;
  }
  #skills h2 {
    margin-left: 30px;
    color: #519D29;
    margin-bottom: 10px;
  }
  .students-helpmate {
    display: flex;
    column-gap: 30px;
    width: 95%;
    margin: auto;
    margin-bottom: 40px;
  }
  .students-text {
    text-align: justify;
  }
  .multi-calculator {
    display: flex;
    column-gap: 30px;
    width: 95%;
    margin: auto;
    margin-bottom: 40px;
  }
  .calculator-text {
    text-align: justify;
  } 
  .gender-equality {
    display: flex;
    column-gap: 30px;
    width: 95%;
    margin: auto;
    margin-bottom: 40px;
  }
  .gender-text {
    text-align: justify;
  } 
  #links {
    background-color: #425953;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
  }
  #links h1 {
    margin-top: 100px;
    text-align: center;
    align-items: center;
    color: rgb(234, 244, 244);
    margin-bottom: 20px;
  }
  #links a {
    color: rgb(226, 21, 21);
    text-decoration: none;
  }
  .first3links {
    display: flex;
    text-align: center;
    align-items: center;
    color:rgb(234, 244, 244);
    justify-content: space-around;
  }
  .next2links {
    display: flex;
    text-align: center;
    align-items: center;
    width: 60%;
    margin: auto;
    color:rgb(234, 244, 244);
    justify-content: space-around;
    margin-top: 20px;
  }
  .last2links {
    display: flex;
    text-align: center;
    align-items: center;
    width: 60%;
    margin:auto;
    color:rgb(234, 244, 244);
    justify-content: space-around;
    margin-top: 20px;
  }


